/*.privacy_div
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.privacy_uid
{
	width: 90%;
}

button
{
	background-color: rgb(7, 71, 166);
}

@media only screen and (max-width: 1100px) {
	.privacy_div
	{
		font-size: 48px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
	}
}*/

.privacy_div
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.privacy_uid
{
	width: 90%;
}

button
{
	background-color: rgb(7, 71, 166) !important;
}


@media only screen and (max-width: 1100px) {
	.privacy_div
	{
		font-size: 48px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
	}
	
	input[type="text"]
	{
		height: auto;
		width: 60%;
		font-size: 48px;
		padding: 5px;
		transition: .1s linear all;
	}
	
	button
	{
		font-size: 42px;
		height: 74px;
	}
}

